/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.github/
/public/assets
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.webp
/storage/app
/storage/framework
/storage/logs
/legacy/PHPExcel/
/legacy/setasign/
/legacy/swiftmailer/
/legacy/phpmailer/
/bootstrap/cache/
/public/assets
/public/node_modules
/public/theme/fonts
/resources/mercurio/build
/public/mercurio/build
/storage/temp/
legacy/Thiagoprz/tests
legacy/Thiagoprz/database
legacy/Thiagoprz/composer.json
legacy/Thiagoprz/License.txt
public/cajas/build
.pnpm-store/
resources/js/assets/
database/seeders/dbsql
