<div class="input-group">
    <div class="input-group-prepend">
        <button class="btn btn-sm btn-icon btn-primary" type="button" data-name="<%= name %>" data-toggle="address">
            <i class="fas fa-pen"></i>
        </button>
    </div>
    <input type="text" name="<%= name %>" id="<%= id ? id : name %>" value="<%= valor %>"
        placeholder="<%= placeholder ? placeholder : label %>" class="<%= css_classes ? css_classes : 'form-control' %>"
        readonly />
</div>
<label toggle-error="<%= name %>" id="<%= name %>-error" class="error" for="<%= name %>"></label>