<select
    id="<%=name%>" 
    type="<%=type%>" 
    class="<%=(css_classes)? css_classes : 'form-control' %>" 
    toggle-entity="_entitie_form"
    toggle-event="<%=(event_config)? event_config : '' %>"
    name="<%=name%>"
    target="<%= target%>"
    placeholder="<%=placeholder%>"
    value="<%= valor%>"
    <%=(is_readonly)? "readonly": "" %>
    <%=(is_disabled)? "disabled": "" %>
>
    <option value="">Pendiente seleccionar...</option>
    <% if (search_type === 'local' || search_type === 'collection') { %>
        <% if(_.size(data_source) > 0){ %>
            <% 
            _.each(data_source, function(_valor, index){ 	%>
                <% selected = (_valor == valor)? 'selected': '' %>
                <option value="<%= index%>" <%=selected%>><%= _valor%></option>
            <% }) %>
        <% } else { %>
            <option value="">...</option>
        <% } %>
    <% } else { %>
        <option value="">...</option>
    <% } %>
</select>
<label toggle-error="<%=name%>" id="<%=name%>-error" class="error" for="<%=name%>"></label>