.breadcrumb {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid rgb(162, 238, 247);
    border-radius: 50px;
    box-shadow: 0px -2px 10px -2px rgba(162, 238, 247, 1);
    -webkit-box-shadow: 0px -2px 10px -2px rgba(162, 238, 247, 1);
    -moz-box-shadow: 0px -2px 10px -2px rgba(162, 238, 247, 1);
}

.navbar-vertical.navbar-expand-md .navbar-brand {
    padding-bottom: 0px;
}

.navbar-brand-img {
    min-height: 160px;
}