#contentView {
	padding-bottom: 1rem;
}

#circle-logo {
	z-index: 9;
}


.sidenav-header {
	height: auto;
}

.sidenav .navbar-brand,
.sidenav .navbar-heading {
	padding: 0 15px;
}

.navbar-brand-img,
.navbar-brand>img {
	margin-top: 0px;
	max-width: 200px;
	min-height: 1rem;
}

.form-control-label {
	font-size: .82rem;
	margin-bottom: 1px;
}

.btn.btn-primary.active {
	background-color: rgba(56, 199, 210, .7) !important;
	border-color: rgba(56, 199, 210, 1) !important;
}

.list-group-item {
	padding: 0.2rem 1rem;
	padding-top: 10px;
}

.text-muted .list-group-item {
	padding: 0.2rem 1rem;
}

.btn-link-file {
	border-radius: 1px;
	margin-top: 5px;
	padding: 8px 5px !important;
	border: 0px;
	cursor: pointer;
	background-color: rgba(60, 200, 215, 1) !important;
	color: #fff !important;
	border-radius: 5px;
	font-size: 13px;
}

a.btn-link-file:hover,
a.btn-link-file:focus,
a.btn-link-file:active,
button.btn-link-file:hover,
button.btn-link-file:focus,
button.btn-link-file:active {
	border: 0px;
	cursor: pointer;
	transition: 0.3s;
	opacity: 0.8;
}

.list-group-item.border-0 {
	padding: 2px;
}

.btn-outline-primary {
	margin-bottom: 2px;
}

.note-editable {
	background-color: #fefefe;
}

.note-editable p {
	line-height: initial;
}

.note-editable h3,
.note-editable label {
	line-height: 1.5px;
}

.note-editable p>span {
	line-height: 1.2px !important;
}

.nav-pills .nav-link {
	border-radius: 1.3rem;
}

.navbar-nav li.nav-item a.nav-link {
	margin-top: 1px;
}

.navbar-nav li.nav-item a.nav-link:hover {
	background: rgba(52, 73, 94, .5);
}

.navbar-nav li.nav-item a.nav-link.active {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	border-radius: 0px;
	background: #cff5eb;
	border-color: #cff5eb;
	color: #333;
}

.btn-link-file {
	border-radius: 1px;
	margin-top: 5px;
	padding: 8px 5px !important;
	border: 0px;
	cursor: pointer;
	background-color: rgba(56, 199, 210, 1) !important;
	color: #fff !important;
	border-radius: 5px;
	font-size: 13px;
}

.btn-link-file:hover,
.btn-link-file:focus,
.btn-link-file:active {
	border: 0px;
	cursor: pointer;
}

.list-group-item {
	padding: 0.2rem 1rem;
	padding-top: 10px;
}

.text-muted .list-group-item {
	padding: 0.2rem 1rem;
}

.form-control-label {
	font-size: .81rem;
	margin-bottom: 3px;
}

.seguimiento-active {
	border: 1px solid #fffdf0 !important;
	background-color: #fffdf0 !important;
}

.seguimiento-inactive {
	border: 1px solid #e4e4e4 !important;
	background-color: #e4e4e4 !important;
}

h4.active {
	color: #388e3c;
	font-size: 1rem;
}

h4.inactive {
	color: #4caf50;
	font-size: 1rem;
}

p {
	font-size: 14px;
}

.select2-results__option {
	font-size: .8rem;
	padding: .3rem .5rem;
}

* {
	box-sizing: border-box;
}


label.control-label {
	display: inline-block;
	font-size: 0.8rem;
	line-height: 1.1rem;
	color: #444;
	left: 10px;
	cursor: text;
	transition: 0.3s;
	padding: 0 3px;
	margin: 0px;
}

label.control-label.top {
	cursor: default;
	background-color: transparent;
	margin: 0px;
	top: -10px;
	transition: 0.3s;
	font-size: 0.81rem;
	padding: 0px 0px 2px;
	left: 10px;
	z-index: 1;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .10);
}

div.form-control,
input.form-control,
select.form-control,
textarea.form-control {
	line-height: 1.2rem;
	margin: 1px 0px;
	padding: 5px 7px;
	min-height: 20px;
	background-color: #fff;
	border-color: #ececec;
}

.form-control.is-invalid {
	background-color: #ffffee;
	transition: background-position 0s ease-in-out;
}

fieldset {
	border: 1px solid #0103;
	padding: 0px 15px 10px 15px;
}

legend {
	font-family: 'roboto', sans-serif;
	text-align: left;
	padding: 0 8px;
	font-size: 14px;
	color: #929292;
}

.calendar {
	width: 100%;
	border: 1px solid #ddd;
	text-align: left;
	margin-top: 3px;
	height: calc(2.1rem + 2px);
}

.input-group-prepend,
.input-group-append {
	padding: 0px;
}

.input-group-prepend .btn-sm,
.input-group-append .btn-sm {
	height: calc(2rem + 1.9px);
	top: 3px;
}

.input-group>select.form-control {
	margin-bottom: 6px;
}

.bg-green-blue {
	background-color: #84e1be;
}

canvas {
	cursor: crosshair
}

label.custom-file-label {
	font-size: .92rem !important;
}

.form-group {
	margin-top: 12px;
	margin-bottom: 8px;
	position: relative;
}

.form-control.invalid {
	border: 1px solid var(--bs-red) !important;
}

.form-group .validation-error {
	position: absolute;
	right: 0;
	bottom: -20px;
	color: var(--bs-red);
	font-size: 12px;
	padding: 0px 4px 0px 4px;
}

label.error,
label.is-invalid {
	position: absolute;
	font-size: 12px;
	right: 0;
	bottom: -18px;
	color: var(--bs-red);
	display: none;
	padding: 0px 4px 0px 4px;
}

.is-valid {
	border: 1px solid #84ecec !important;
	/* Bootstrap green */
}

.form-control.is-valid,
.was-validated .form-control:valid {
	background-size: 10px;
}

.choices .choices__inner {
	font-size: .9rem !important;
	height: calc(2rem + 1px) !important;
	padding: 6px 4px !important;
}

.input-group>.form-control:not(:focus).is-invalid {
	z-index: initial;
}

.dt-layout-start {
	padding-left: 40px;
}

.dt-layout-end {
	padding-right: 40px;
	padding-bottom: 10px;
}

.dt-info {
	font-size: .85rem;
}

